html {
  position: relative;
  z-index: -9999; }

body {
  font-family: 'Nanum Myeongjo', serif;
  position: relative;
  overflow: hidden; }

.ui-loader {
  display: none; }

li {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  color: #000;
  text-decoration: none; }

img {
  vertical-align: bottom; }

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 1024px) {
    .wrapper {
      max-width: 1080px; } }

.rose-icon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/rose-icon.png);
  background-size: cover; }

.base {
  height: 100vh;
  position: relative; }

.all-pages, .page__container, .page__item {
  width: 100%;
  height: 100%; }

.all-pages {
  position: absolute;
  top: 0;
  left: 0; }

.page__container {
  transform: scale(0.7) translateY(35%);
  transform-origin: 50% 100%;
  transition: all 0.5s cubic-bezier(0.59, 0.285, 0.36, 1) 0.15s;
  position: relative;
  overflow-y: hidden;
  z-index: 2; }

.page__container.active {
  transform: scale(1) translateY(0%); }

.page__container--front, .page__container--fake {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.page__container--front {
  transition: all 0.5s cubic-bezier(0.59, 0.285, 0.36, 1) 0.15s; }

.page__container--front.active {
  left: 0;
  transform: scale(1) translateY(0%); }

.page__item {
  box-shadow: 0px 45px 70px #000;
  transform-origin: 50% 100%;
  position: absolute; }

.page__item--fake {
  opacity: 0;
  transition: transform .5s ease .4s, opacity .4s ease .4s; }

.page__item--fake.active {
  opacity: 1; }

.page__item--fake:first-child {
  background-color: #5363d4;
  transform: scale(0.6) translateY(45%);
  left: 0;
  z-index: 1; }

.page__item--fake:first-child.active {
  transform: scale(0.6) translateY(20%); }

.page__item--fake:nth-child(2) {
  background-color: #4c53bb;
  transform: scale(0.5) translateY(25%);
  left: 0;
  z-index: 0; }

.page__item--fake:nth-child(2).active {
  transform: scale(0.5) translateY(0%); }

.page__scroll-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../images/swipe-up.png);
  background-size: cover;
  transform: translateX(-50%);
  position: fixed;
  bottom: 20px;
  left: 50%;
  opacity: 0.5; }

@media (min-width: 768px) {
  .page__container {
    transform: scale(0.7) translateY(20%); }
  .page__item--fake:first-child.active {
    transform: scale(0.6) translateY(1%); }
  .page__item--fake:nth-child(2).active {
    transform: scale(0.5) translateY(-25%); } }

@media (min-width: 1024px) {
  .page__scroll-icon {
    background-image: url(../images/mouse-wheel.png); } }

.header {
  width: 100%;
  height: 100%;
  background-image: url(../images/index-blur.jpg);
  position: relative; }

.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 995; }
  .menu-toggle__bar1, .menu-toggle__bar2, .menu-toggle__bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transform-origin: 50% 20%;
    transition: transform 0.4s, background-color 0.4s ease 0.4s; }
  .menu-toggle.black .menu-toggle__bar1,
  .menu-toggle.black .menu-toggle__bar2,
  .menu-toggle.black .menu-toggle__bar3 {
    background-color: #000; }

.menu-toggle.change .menu-toggle__bar1 {
  transform: rotate(-45deg) translate(-9px, 6px); }

.menu-toggle.change .menu-toggle__bar2 {
  opacity: 0; }

.menu-toggle.change .menu-toggle__bar3 {
  transform: rotate(45deg) translate(-8px, -8px); }

.nav {
  font-family: 'Nanum Gothic', sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1; }
  .nav__list {
    width: 100%;
    padding-top: 60px; }
    .nav__list:after {
      content: "";
      display: table;
      clear: both; }
  .nav__item {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    transform: translateY(10px);
    opacity: 0;
    transition: transform .5s ease .4s, opacity .4s ease .4s; }
  .nav__item.active {
    transform: translateY(0px);
    opacity: 1; }
  .nav__item a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px; }
  @media (min-width: 375px) {
    .nav__item {
      padding: 15px 0px; } }
  @media (min-width: 768px) {
    .nav__item {
      width: 50%;
      padding: 25px 0px;
      float: left; }
    .nav__item a {
      font-weight: 800; } }

.banner {
  width: 100%;
  height: 100%;
  background-image: url(../images/index.jpg);
  background-position: center center;
  position: relative; }
  .banner__box {
    color: #fff;
    width: 280px;
    height: 280px;
    text-align: center;
    background-color: transparent;
    border: 5px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .banner__title {
    font-family: 'Nanum Myeongjo', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; }
  .banner__title-text {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 8px; }
  .banner__subtitle-text {
    font-size: 13px;
    letter-spacing: 4px; }
  @media (min-width: 375px) {
    .banner__box {
      width: 335px;
      height: 335px; }
    .banner__title-text {
      font-size: 32px;
      margin-bottom: 10px; }
    .banner__subtitle-text {
      font-size: 19px;
      letter-spacing: 4px; } }
  @media (min-width: 425px) {
    .banner__box {
      width: 385px;
      height: 385px; }
    .banner__title-text {
      font-size: 36px;
      margin-bottom: 12px; }
    .banner__subtitle-text {
      font-size: 22px;
      letter-spacing: 4px; } }
  @media (min-width: 768px) {
    .banner__box {
      width: 430px;
      height: 430px; }
    .banner__title-text {
      font-size: 42px;
      margin-bottom: 15px; }
    .banner__subtitle-text {
      font-size: 27px;
      letter-spacing: 4px; } }
  @media (min-width: 1440px) {
    .banner__box {
      width: 500px;
      height: 500px; }
    .banner__title-text {
      font-size: 50px;
      font-weight: 800;
      margin-bottom: 15px; }
    .banner__subtitle-text {
      font-size: 24px;
      letter-spacing: 8.2px; } }

.summary {
  height: 100vh;
  background-image: url(../images/index-blur.jpg);
  background-color: #000;
  padding: 100px 20px 0px; }
  .summary__title {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px; }
  .summary .rose-icon {
    margin: 0 auto 25px; }
  .summary__content {
    font-family: 'Nanum Gothic', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    text-align: left; }
  .summary__paragraph {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 20px auto; }
  .summary__end {
    color: #fff;
    font-size: 14px;
    text-align: center; }
  @media (min-width: 375px) {
    .summary__title {
      font-size: 30px; }
    .summary__content {
      font-size: 15px;
      line-height: 2; }
    .summary__paragraph {
      width: 30px;
      height: 3px;
      background-color: #fff;
      margin: 30px auto; }
    .summary__end {
      font-size: 15px; } }
  @media (min-width: 768px) {
    .summary__title {
      font-size: 40px;
      margin-bottom: 30px; }
    .summary .rose-icon {
      width: 40px;
      height: 40px;
      margin: 0 auto 30px; }
    .summary__content {
      font-family: 'Nanum Gothic', sans-serif;
      color: #fff;
      font-size: 18px;
      text-align: center;
      line-height: 2; }
    .summary__paragraph {
      background-color: #fff;
      margin: 40px auto; }
    .summary__end {
      color: #fff;
      font-size: 18px;
      text-align: center; } }

.theme-colors {
  height: 100vh;
  background-color: #fff;
  padding: 100px 0px 60px; }
  .theme-colors__title {
    color: #000;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px; }
  .theme-colors__subtitle {
    color: #000;
    font-size: 13px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: -1px; }
  .theme-colors .rose-icon {
    margin: 0 auto 20px; }
  .theme-colors__content {
    font-family: 'Nanum Gothic', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.5; }
  .theme-colors__item {
    height: 70px;
    padding: 0 20px;
    transition: height .2s;
    overflow-y: hidden; }
  .theme-colors__item.active {
    height: calc(100vh - 330px); }
  .theme-colors__item:first-child {
    background-color: #5363D4; }
  .theme-colors__item:nth-child(2) {
    background-color: #BFC3F3; }
  .theme-colors__item:nth-child(3) {
    background-color: #601E81; }
  .theme-colors__item-header {
    height: 70px;
    line-height: 70px;
    position: relative; }
  .theme-colors__item a {
    color: #fff;
    font-size: 14px;
    font-weight: 700; }
  .theme-colors__detail {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/add.png);
    background-size: cover;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0px; }
  .theme-colors__item.active .theme-colors__detail {
    background-image: url(../images/substract.png); }
  @media (min-width: 768px) {
    .theme-colors__title {
      font-size: 40px;
      margin-bottom: 30px; }
    .theme-colors__subtitle {
      font-size: 20px;
      margin-bottom: 30px; }
    .theme-colors__item.active {
      height: calc(100vh - 370px); } }

.careers {
  width: 100%;
  height: 100%;
  background-image: url(../images/index.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  touch-action: none; }
  .careers__half {
    width: 100%;
    height: 55%;
    background-color: #fafafa;
    position: absolute;
    bottom: 0;
    left: 0; }
  .careers__container {
    width: 910px;
    height: 100vh;
    margin: 0 auto;
    position: relative; }
  .careers__list {
    width: 100%;
    height: calc(100vh - 160px);
    margin-left: 0px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transition: margin-left .3s ease .1s; }
  .careers__item {
    width: calc(100vw - 40px);
    height: 100%;
    margin-right: 25px;
    float: left;
    cursor: pointer; }
  .careers__item:last-child {
    margin-right: 0; }
  .careers__item:nth-child(4) {
    display: none; }
  .careers__top {
    width: 100%;
    height: 45%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative; }
  .careers__item:first-child dt {
    background-color: #5363D4; }
  .careers__item:nth-child(2) dt {
    background-color: #601E81; }
  .careers__item:nth-child(3) dt {
    background-color: #BFC3F3; }
  .careers__item:nth-child(4) dt {
    background-color: #e7e8ec; }
  .careers__flower-icon {
    display: block;
    width: 150px;
    height: 150px;
    background-size: cover;
    transform: translateX(-50%);
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 1;
    transition: transform .3s; }
  .careers__item:first-child .careers__flower-icon {
    background-image: url(../images/career-icon1.png); }
  .careers__item:nth-child(2) .careers__flower-icon {
    background-image: url(../images/career-icon2.png); }
  .careers__item:nth-child(3) .careers__flower-icon {
    background-image: url(../images/career-icon3.png); }
  .careers__item:nth-child(4) .careers__flower-icon {
    width: 254px;
    height: 150px;
    background-image: url(../images/career-icon4.png);
    background-size: cover; }
  .careers__bottom {
    height: 55%;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 35px 40px;
    box-shadow: 0px 5px 10px #888;
    position: relative; }
  .careers__work-type, .careers__period {
    color: #a9a9a9;
    font-family: 'Nanum Gothic', 'sans-serif';
    letter-spacing: -1px;
    margin-bottom: 5px; }
  .careers__work-type {
    font-size: 12px; }
  .careers__company-name {
    font-size: 18px; }
  .careers__seperate {
    width: 40px;
    height: 3px;
    background-color: #000;
    margin: 10px 0; }
  .careers__period {
    font-size: 13px; }
  .careers__details {
    display: block;
    width: calc(100% - 80px);
    font-family: 'Nanum Gothic', 'sans-serif';
    font-size: 14px;
    font-weight: 800;
    background-color: #fff;
    border-radius: 20px;
    padding: 7px 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: 40px;
    left: 50%;
    transition: all .3s; }
  .careers__item:first-child .careers__details {
    color: #5363D4;
    border: 1px solid #5363D4; }
  .careers__item:nth-child(2) .careers__details {
    color: #601E81;
    border: 1px solid #601E81; }
  .careers__item:nth-child(3) .careers__details {
    color: #BFC3F3;
    border: 1px solid #BFC3F3; }
  .careers__indicator {
    display: block;
    transform: translateX(-50%);
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2; }
  .careers__indicator-item {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 100%;
    margin: 0 8px;
    float: left; }
  .careers__indicator-item.active {
    border: 2px solid #000; }
  @media (min-width: 375px) {
    .careers__container {
      width: 1055px; }
    .careers__flower-icon {
      top: 55%; }
    .careers__work-type {
      font-size: 15px; }
    .careers__company-name {
      font-size: 22px; }
    .careers__period {
      font-size: 16px; }
    .careers__details {
      font-size: 18px; } }
  @media (min-width: 425px) {
    .careers__container {
      width: 1205px; } }
  @media (min-width: 768px) {
    .careers__container {
      width: 1105px; }
    .careers__list {
      height: 570px; }
    .careers__item {
      width: calc(50vw - 33px); }
    .careers__item:nth-child(4) {
      display: block; } }
  @media (min-width: 1024px) {
    .careers__container {
      width: 890px; }
    .careers__list {
      height: 407px;
      left: 0; }
    .careers__item {
      width: 280px; }
    .careers__flower-icon {
      top: 30%; }
    .careers__item:hover .careers__flower-icon {
      transform: translateX(-50%) translateY(-10px); }
    .careers__item:first-child:hover .careers__details {
      color: #fff;
      background-color: #5363D4; }
    .careers__item:nth-child(2):hover .careers__details {
      color: #fff;
      background-color: #601E81; }
    .careers__item:nth-child(3):hover .careers__details {
      color: #fff;
      background-color: #BFC3F3; }
    .careers__item:nth-child(4):hover .careers__details {
      color: #fff;
      background-color: #e7e8ec; }
    .careers__indicator {
      display: none; } }
  @media (min-width: 1440px) {
    .careers__half {
      height: 52%; }
    .careers__container {
      width: 970px; }
    .careers__item {
      margin-right: 65px; } }

.careers--details {
  width: 100%;
  height: 100%;
  transform: translateY(15px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .3s, z-index .3s, transform .5s; }
  .careers--details.active {
    transform: translateY(0px);
    z-index: 9999;
    opacity: 1; }
  .careers--details-list {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff; }
    .careers--details-list:after {
      content: "";
      display: table;
      clear: both; }
  .careers--details-list.active {
    display: block; }
  .careers--details__top {
    height: 45%;
    position: relative; }
  .careers--details__go-back {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../images/go-back.png);
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 996; }
  .careers--details-list:first-child .careers--details__top {
    background-color: #5363D4; }
  .careers--details-list:nth-child(2) .careers--details__top {
    background-color: #601E81; }
  .careers--details-list:nth-child(3) .careers--details__top {
    background-color: #BFC3F3; }
  .careers--details__thumbnail {
    display: block;
    width: 170px;
    height: 170px;
    background-size: cover;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transition: transform .3s; }
  .careers--details-list:first-child .careers--details__thumbnail {
    background-image: url(../images/career-icon1.png); }
  .careers--details-list:nth-child(2) .careers--details__thumbnail {
    background-image: url(../images/career-icon2.png); }
  .careers--details-list:nth-child(3) .careers--details__thumbnail {
    background-image: url(../images/career-icon3.png); }
  .careers--details__bottom {
    font-family: 'Nanum Gothic', 'sans-serif';
    height: 55%;
    background-color: #fff;
    padding: 25px 35px; }
  .careers--details__work-type, .careers--details__period {
    color: #a9a9a9;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px; }
  .careers--details__company-name {
    font-family: 'Nanum Myeongjo', 'serif';
    font-size: 20px;
    font-weight: 800; }
  .careers--details__seperate {
    width: 40px;
    height: 3px;
    background-color: #000;
    margin: 7px 0; }
  .careers--details__period {
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: -1px; }
  .careers--details__title {
    color: #a9a9a9;
    font-size: 12px;
    margin-bottom: 10px;
    letter-spacing: 1px; }
  .careers--details__title--preview {
    display: none; }
  .careers--details__list {
    margin-bottom: 10px; }
  .careers--details__work-link {
    font-size: 13px; }
  .careers--details__content {
    font-size: 13px;
    margin-bottom: 10px; }
  .careers--details__content--preview {
    display: none; }
  .careers--details__content--preview > img {
    max-width: 100%;
    border: 1px solid #a9a9a9;
    margin-bottom: 5px; }
  .careers--details__zoom {
    display: none;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    padding: 5px; }
  .careers--details__links {
    width: calc(100% - 70px);
    position: absolute;
    bottom: 25px;
    left: 35px; }
    .careers--details__links:after {
      content: "";
      display: table;
      clear: both; }
  .careers--details__links > a {
    display: block;
    width: calc(50% - 5px);
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 5px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 10px;
    padding: 8px 0;
    float: left; }
  .careers--details-list:first-child .careers--details__website {
    background-color: #5363D4;
    border: 1px solid #5363D4; }
  .careers--details-list:nth-child(2) .careers--details__website {
    background-color: #601E81;
    border: 1px solid #601E81; }
  .careers--details-list:nth-child(3) .careers--details__website {
    background-color: #BFC3F3;
    border: 1px solid #BFC3F3; }
  .careers--details__github {
    margin-right: 0 !important; }
  .careers--details-list:first-child .careers--details__github {
    color: #5363D4;
    border: 1px solid #5363D4; }
  .careers--details-list:nth-child(2) .careers--details__github {
    color: #601E81;
    border: 1px solid #601E81; }
  .careers--details-list:nth-child(3) .careers--details__github {
    color: #BFC3F3;
    border: 1px solid #BFC3F3; }
  @media (min-width: 375px) {
    .careers--details__work-type, .careers--details__period {
      font-size: 14px;
      margin-bottom: 10px; }
    .careers--details__company-name {
      font-size: 25px; }
    .careers--details__seperate {
      width: 60px;
      height: 5px;
      margin: 10px 0; }
    .careers--details__period {
      font-size: 15px;
      margin-bottom: 20px;
      letter-spacing: -1px; }
    .careers--details__title {
      color: #a9a9a9;
      font-size: 12px;
      margin-bottom: 10px;
      letter-spacing: 1px; }
    .careers--details__list {
      margin-bottom: 15px; }
    .careers--details__content {
      font-size: 14px;
      margin-bottom: 10px; }
    .careers--details__work-link {
      font-size: 14px; }
    .careers--details__links > a {
      font-size: 16px; }
    .careers--details__website {
      font-size: 18px; } }
  @media (min-width: 425px) {
    .careers--details__thumbnail {
      width: 230px;
      height: 230px; }
    .careers--details__title {
      margin-bottom: 15px; } }
  @media (min-width: 768px) {
    .careers--details {
      width: calc(100% - 40px);
      height: 65%;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%; }
      .careers--details.active {
        transform: translate(-50%, calc(-50% - 15px)); }
      .careers--details-list {
        width: 100%;
        height: 100%;
        box-shadow: 0 0 60px #000; }
      .careers--details__top {
        width: 60%;
        height: 100%;
        float: left; }
      .careers--details__thumbnail {
        width: 300px;
        height: 300px; }
      .careers--details__bottom {
        width: 40%;
        height: 100%;
        float: left; }
      .careers--details__content {
        margin-bottom: 20px; }
      .careers--details__links {
        width: 100%;
        position: static; }
      .careers--details__links > a {
        width: 100%;
        margin-bottom: 10px;
        float: none; } }
  @media (min-width: 1024px) {
    .careers--details {
      width: calc(100% - 120px);
      height: calc(100% - 120px);
      background-color: #fff;
      transform: translate(-150%, -50%);
      opacity: 0;
      transition: transform .4s;
      position: absolute;
      top: 50%;
      left: 50%; }
      .careers--details.active {
        transform: translate(-50%, -50%); }
      .careers--details__top {
        width: 70%;
        transform: translateX(-150%);
        transition: transform .4s ease; }
      .careers--details__top.active {
        transform: translateX(0px); }
      .careers--details__go-back {
        width: 35px;
        height: 35px;
        top: 40px;
        left: 50px; }
      .careers--details__thumbnail {
        width: 400px;
        height: 400px; }
      .careers--details__bottom {
        width: 30%;
        transform: translateX(-150%);
        opacity: 0;
        transition: transform .4s ease .2s, opacity .3s ease .2s; }
      .careers--details__bottom.active {
        transform: translateX(0px);
        opacity: 1; }
      .careers--details__title--preview {
        display: block; }
      .careers--details__content {
        margin-bottom: 20px; }
      .careers--details__content--preview {
        display: block; }
      .careers--details__links {
        width: 100%;
        position: static; }
      .careers--details__links > a {
        width: 100%;
        margin-bottom: 10px;
        float: none; } }
  @media (min-width: 1440px) {
    .careers--details {
      width: 1100px;
      height: 820px; }
      .careers--details__go-back {
        width: 40px;
        height: 40px; }
      .careers--details__thumbnail {
        width: 500px;
        height: 500px; } }

.careers--black {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998; }
  .careers--black.active {
    display: block; }

.works {
  width: 100%;
  height: 100%;
  background-color: #a6a9dd;
  padding: 80px 20px 0px; }
  .works__title {
    text-align: center;
    font-weight: 800; }
  .works__under-bar {
    width: 50px;
    height: 5px;
    background-color: #000;
    margin: 15px auto; }
  .works__list:after {
    content: "";
    display: table;
    clear: both; }
  .works__item {
    margin-right: 10px;
    float: left; }
  .works__item:last-child {
    margin-right: 0px; }
  .works__thumbnail {
    display: block;
    width: 100px;
    height: 100px; }
