.summary {
  height: 100vh;
  background-image: url(../images/index-blur.jpg);
  background-color: #000;
  padding: 100px 20px 0px;

  &__title {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
  }

  .rose-icon {
    margin: 0 auto 25px;
  }

  &__content {
    font-family: 'Nanum Gothic', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }

  &__paragraph {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 20px auto;
  }

  &__end {
    color: #fff;
    font-size: 14px;
    text-align: center;
  }

  @include mobile-m {
    &__title {
      font-size: 30px;
    }

    &__content {
      font-size: 15px;
      line-height: 2;
    }

    &__paragraph {
      width: 30px;
      height: 3px;
      background-color: #fff;
      margin: 30px auto;
    }

    &__end {
      font-size: 15px;
    }
  }

  @include tablet {
    &__title {
      font-size: 40px;
      margin-bottom: 30px;
    }

    .rose-icon {
      width: 40px;
      height: 40px;
      margin: 0 auto 30px;
    }

    &__content {
      font-family: 'Nanum Gothic', sans-serif;
      color: #fff;
      font-size: 18px;
      text-align: center;
      line-height: 2;
    }

    &__paragraph {
      background-color: #fff;
      margin: 40px auto;
    }

    &__end {
      color: #fff;
      font-size: 18px;
      text-align: center;
    }
  }
}
