.works {
  width: 100%;
  height: 100%;
  background-image: url(../images/index-blur.jpg);
  padding: 80px 20px 0px;

  .wrapper {
    max-width: 1200px;
  }

  &__title {
    color: #fff;
    text-align: center;
    font-weight: 800;
  }

  &__under-bar {
    width: 50px;
    height: 5px;
    background-color: #fff;
    margin: 15px auto 30px;
  }

  &__container {
    width: 100%;
    overflow: hidden;
  }

  &__list {
    width: 1195px;
    margin-left: 0;
    transition: margin-left 0.3s linear;
    @include clearfix;
  }

  &__item {
    font-family: 'NanumGothic', sans-serif;
    width: calc(100vw - 40px);
    height: 305px;
    border-radius: 20px;
    margin-right: 25px;
    padding: 30px 20px;
    float: left;
    position: relative;
    overflow: hidden;
    touch-action: none;
  }

  &__item:nth-child(1) {
    background-color: #988bee;
  }

  &__item:nth-child(2) {
    background-color: #6d92c6;
  }

  &__item:nth-child(3) {
    background-color: #5d59dc;
  }

  &__item:nth-child(4) {
    background-color: #7f67df;
    margin-right: 0px;
  }

  &__symbol {
    display: block;
    width: 130px;
    height: 130px;
    background-size: cover;
    margin: 0 auto;
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 1;
    opacity: 0.3;
    transition: opacity 0.5s linear;
  }

  &__item:hover &__symbol {
    opacity: 1;
  }

  &__item:nth-child(1) &__symbol {
    background-image: url(../images/work-icon1.png);
  }

  &__item:nth-child(2) &__symbol {
    background-image: url(../images/work-icon2.png);
  }

  &__item:nth-child(3) &__symbol {
    background-image: url(../images/work-icon3.png);
  }

  &__item:nth-child(4) &__symbol {
    background-image: url(../images/work-icon4.png);
  }

  &__item-name {
    font-family: 'NanumMyeongjo', serif;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }

  &__item-under-bar {
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 20px;
  }

  &__item-date, &__item-language {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__item-detail {
    color: #fff;
    width: calc(100% - 40px);
    text-align: center;
    font-weight: 800;
    border-radius: 20px;
    padding: 7px 0;
    transform: translate(-50%, 0px);
    position: absolute;
    left: 50%;
    bottom: 30px;
    transition: transform 0.3s linear;
  }

  &__item-detail:hover {
    transform: translate(-50%, -5px);
  }

  &__item:nth-child(1) &__item-detail {
    background-color: #8670c9;
  }

  &__item:nth-child(2) &__item-detail {
    background-color: #5b6f9b;
  }

  &__item:nth-child(3) &__item-detail {
    background-color: #5e45c1;
  }

  &__item:nth-child(4) &__item-detail {
    background-color: #7150ba;
  }

  .carousel__indicator {
    bottom: -50px;
    left: 50%;
  }

  @include mobile-m {
    &__list {
      width: 1440px;
    }
  }

  @include mobile-l {
    &__list {
      width: 1640px;
    }
  }

  @include tablet {
    &__item {
      width: calc(50vw - 32px);
    }
  }

  @include laptop {
    &__item {
      width: calc(33.333vw - 30px);
    }
  }

  @include laptop-l {
    &__item {
      width: 280px;
    }
  }
}
